.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    gap: 10px;
}
.contact-item{
    margin: 10px 0 10px 0;
    padding: 5px;
}
.read-more{
    font-size: 12px;
    margin: 5px;
    color: rgb(var(--theme1-text));
    background-color: rgb(var(--theme1-accent2));
    border: 1px solid rgb(var(--theme1-border));
}