div {
    text-align: left;
}
h1 {
    text-align: center;
}
hr {
    margin: auto;
    display: block;
    width: 75%;
    height: 2px;
    margin-bottom: 30px;
    border-radius: 5%;;
    background-color: rgb(var(--theme1-border));  
    border-color: black;
    color: rgb(var(--theme1-border));  
}
.bookandblog {
    display: flex;
    flex-direction: row;
}
.bookandblogwrapper{
    background-color:rgba(18, 18, 18, 0.336);
}
.contactbar{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 25px 25px 25px 25px;
}
.welcome-box{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
}
#contactlink{
    display: block;
    width: max-content;
    text-decoration: none;
    color: inherit;
    margin-right: 5px;

}
#linkinfo{
    display: block;
    list-style-type: none;
}
#titlecard{
    margin: 100px 12px 0px 0;
    filter: drop-shadow(0 0 5px rgb(var(--theme1-other)));
} 
