.create-blog{
    margin: 50px;
    text-align: center;
}
.new-blog > button{
    height: 35px;
    width: 200px;
    margin: 25px;
    border-radius: 10px;
    border: 1px solid rgb(var(--theme1-border));
    background-color: rgb(var(--theme1-accent2));
    color: rgb(var(--theme1-text));
}
.new-blog > button:hover{
    background-color: rgba(var(--theme1-accent2), .9);
}