.create-blog{
    margin: 50px;
    text-align: center;
}
.create-blog > * > input{
    margin-right: 50px;
    width: 300px;
}
.create-blog > .post-button{
    height: 35px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    border: 3px solid rgb(var(--theme1-border));
    background-color: rgb(var(--theme1-accent2));
    color: rgb(var(--theme1-text));
}