.info-text{
    display: flex;
    flex-direction: column;
    margin: 100px 12px 0px 0;
    filter: drop-shadow(0 0 5px rgb(var(--theme1-other)));
    white-space: pre-line;
    float: right;
    width:max-content;
}
.info-animation{
    text-align: left;
    margin: 0;
    padding: 4px;
}