.navbar-toggleable {
    color: white;
}

.nav {
    display: flex;
    background-color: black;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: stretch;

}

.nav ul{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: right;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav a:not(#brand) {
    text-decoration: none;
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
    background-color: #222;
    border-bottom: 2px solid white;
}

.nav li:hover {
    background-color: #444;
}

#brand{
    font-size: 36px;
}