.portfolio-wrapper{
    display: flex;
    flex-direction: column;
    gap: 200px;
}
.portfolio-object{
    text-align: left;
    background-color: rgba(var(--theme1-accent2), .5);
    background-image: linear-gradient(90deg, #70a9b2, #709ac0, rgba(113,131,204,1));
    filter: blur(100px);
    width: 1200px;
    border-top: 3px solid rgb(var(--theme1-border));
    margin: auto;
    padding: 15px;
    filter: drop-shadow(3px 3px 2px black);
}
.project-image{
    float: right;
    background-image: linear-gradient(90deg, #70a9b2, #709ac0, rgba(113,131,204,1));
    filter: drop-shadow(3px 3px 2px black);
    height: 200px;
    width: 200px;
}