.bar-graph-top{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3px;
}
.bar-top{
    position: relative;
    border-top: 3px solid rgb(var(--theme1-border));
    border-right: 3px solid black;
    width: 25px;
    background-color: rgb(var(--theme1-other));
}
.bar-top > span{
    visibility: hidden;
    font-size: 12px;
    z-index: 9999;
    opacity:  0;
    border: 1px solid rgb(var(--theme1-border));
    border-radius: 5%;
    position: absolute; 
    top: -30px; 
    right: 10px;
    text-align: center; 
    padding: 5px;
    width: max-content; 
    height: auto; 
    background-color: rgb(var(--theme1-accent)); 
}
.featured-details{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    margin-top: -30px;
}
.featured-details a{
    border: none;
}
.featured-details *{
    padding: 0 3px 0 3px;
    border-right: 1px solid rgb(var(--theme1-border));
    border-left: 1px solid rgb(var(--theme1-border));
}
.bar-top:hover > span{
    visibility: visible;
    opacity: 1;
}
.project-image-card{
    filter: drop-shadow(8px 8px 1px black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 15px;
    margin-bottom: 15px;
    height: 375px;
    width: 100%;
}