.bar-graph-top{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3px;
}
.bar-top{
    position: relative;
    border-top: 3px solid rgb(var(--theme1-border));
    width: 25px;
    background-color: rgb(var(--theme1-other));
}
.bar-top > span{
    visibility: hidden;
    font-size: 12px;
    z-index: 9999;
    opacity:  0;
    border: 1px solid rgb(var(--theme1-border));
    border-radius: 5%;
    position: absolute; 
    top: -30px; 
    left: 10px;
    text-align: center; 
    padding: 5px;
    width: max-content; 
    height: auto; 
    background-color: rgb(var(--theme1-accent)); 
}
.bar-top:hover > span{
    visibility: visible;
    opacity: 1;
}