/* Basic editor styles */
.ProseMirror *{
  margin-top: 0.75em;
  text-align: left;
}
.bubbleMenu > *{
      margin: 3px;
}
.text-align-buttons{
      display: flex;
      gap: 1px;
      background-color: beige;
      border: 1px solid black;
      margin-bottom: 5px;
      padding: 3px;

}
.blog-editor{
      text-align: left;
      color: black;
      background-color: black;
      margin: 10px;     
      border-radius: 25px;
      background-color: rgba(250, 250,250, 1);
      padding: 20px 10px 10px 10px;
}
.blog-editor-menu{
      background-color: black;
      border: 3px solid black;
      padding: 5px 10px 0px 10px;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
}
.blog-editor-menu > button{
      background-color: white;
      color: black;
      border-radius: 10px;
      margin: 1px;
      height: 30px;

}
.blog-editor-menu > button:hover{
      background-color: beige;
}
.blog-editor-menu > button:active{
      background-color:rgb(200, 200,200);
}
.blog-editor .ProseMirror{
      background-color: rgba(250, 250,250, 1);
      border: 3px solid black;
      padding: 0 20px 400px 20px;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;



}
.ProseMirror:focus{
      outline: none;
}

.ProseMirror ul, 
.ProseMirror ol {
      padding: 0 1rem;
}
  
.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
      line-height: 1.1;
}
  
.ProseMirror code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
  }
  
.ProseMirror pre {
      background: #0D0D0D;
      color: #FFF;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
}
.ProseMirror pre > code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
}
  
.ProseMirror img {
      max-width: 100%;
      height: auto;
}
  
.ProseMirror blockquote {
      padding-left: 1rem;
      border-left: 2px solid rgba(#0D0D0D, 0.1);
}
  
.ProseMirror hr {
      border: none;
      border-top: 2px solid rgba(#0D0D0D, 0.1);
      margin: 2rem 0;
}
.blog-editor > .post-button{
      height: 35px;
      width: 500px;
      margin: auto;
      border-radius: 10px;
      border: 3px solid rgb(var(--theme1-border));
      background-color: rgb(var(--theme1-accent2));
      color: rgb(var(--theme1-text));
  }
  .blog-editor > .post-button:hover{
      background-color: rgba(var(--theme1-accent2), .9);
  }
  .blog-editor{
      text-align: center;
}
  .blog-editor > * > input{
      margin-right: 50px;
      width: 300px;
  }